<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FORM</title>
    </head>

<body> 
    <h1> MOO</h1>
    <form action="/student/add" method="post">
        <div class="formInputsCont" id="formInputsCont">
            <div class="inputCont">
                <label for="nameTextBox">Name</label>
                <input type="text" id="nameTextBox" name="nameTextBox">
                <p2 id="nameError">Enter Name</p2>    
            </div>
            <div class="inputCont">
                <label for="heightTextBox">Height</label>
                <input type="text" id="heightTextBox" name="heightTextBox">
                <p2 id="heightError">Enter Height</p2>    
            </div>
            <div class="inputCont">
                <label for="weightTextBox">Weight</label>
                <input type="text" id="weightTextBox" name="weightTextBox">
                <p2 id="weightError">Enter Weight</p2>    
            </div>
            <div class="inputCont">
                <label for="hairTextBox">Hair Colour</label>
                <select name="myCombo" id="myCombo">
                    <option value="option1">Black</option>
                    <option value="option2">Brown</option>
                    <option value="option3">Blonde</option>
                    <option value="option4">White</option>
                </select>
                <p2 id="hairError">Enter Hair Colour</p2>    
            </div>
            <div class="inputCont">
                <label for="gpaTextBox">GPA</label>
                <input type="text" id="gpaTextBox" name="gpaTextBox">
                <p2 id="gpaError">Enter GPA</p2>    
            </div>
            <div>
                <button id="clearButton">Clear All</button>
                <button id="AddButton" type="submit">Add Student</button>
            </div>
        </div>
    </form>
    <ul>
        <li th:each="student:${students}"> 
            <span th:text="${student.name}"></span> <br>
            <span th:text="${student.height}"></span> <br>
            <span th:text="${student.weight}"></span> <br>
            <span th:text="${student.hair}"></span> <br>
        </li>
    </ul>
</body>

</html>