.formInputsCont {
    padding: 15px;
    background-color: #d4d2d7;
    width: min-content;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.inputCont {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    margin-right: 20px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2px;
    margin-left: 3px;
}

p2 {
    color: red;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3px;
    display: none;
}

input {
    width: 100%;
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 13px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857; 
    padding: 8px 6px;
    height: 25px;
    :hover{
        background-color: rgb(235, 236, 240);
    }
    :focus{
        background-color: rgb(255, 255, 255);
        border-color: rgb(76, 154, 255);
    }

}

input:hover{
    background-color: rgb(235, 236, 240);
}

select {
    width: 100%;
    /*background-color: rgb(250, 251, 252);*/
    cursor: text;
    font-size: 13px;
    border: transparent;
    transition: background-color 0.2s ease-in-out 0s;
    padding: 8px 6px;
    height: 25px;
    :hover{
        background-color: rgb(235, 236, 240);
    }
    :focus{
        background-color: rgb(255, 255, 255);
        border-color: rgb(76, 154, 255);
    }

}

select:hover{
    background-color: rgb(235, 236, 240);
}

button {
    height: 25px;
    width: 90px;
    margin: 10px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 350;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;      
}

button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;  
}



